{% extends "app/admin/base.html" %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <h1>Games</h1><br>
        </tr>
        </thead>
        <tbody>
            {% for list in lists %}
                {% if list.is_active == True %}
                    <tr>
                        <td>{{ list.title }}</td>
                        <td><a href="{% url "update_game" pk=list.pk %}">Update Game</a></td>
                        <td><a href="{% url "delete_game" pk=list.pk %}">Delete Game</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}