{% extends "app/base.html" %}

{% block title %}
    GameGarage | About
{% endblock title %}

{% block content %}
<div class="text-center">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
 			<article>
 				<br>
 				<br>
                <br>
				<h1>About the Site</h1>
                <hr>
				<p>This website stores informations of a game like the basic overview of the game and its genres. It will also show some screenshots and a trailer video of the game. In the page of the game users can click on a link that will redirect them to the game's website. Users can search games on the website using the search bar and alternatively use the category menu to narrow down the games into genres, logged in users will have the right to request games using the request page. Users not logged in will have lesser rights such as not being able write reviews and request games.</p>
			</article>
             				<br>
 				<br>
                <br>
             				<br>
 				<br>
                <br>
             				<br>
 				<br>
                <br>
             				<br>
 				<br>
                <br> 				<br>
 				<br>
                <br> 				<br>
 				<br>
                <br>



		</div>
	</div>
</div>
{% endblock content %}