{% extends "app/base.html" %}

{% block content %}
<p>
<ul>
<li>
    {{lst2.title}}
    <p>
</li>
<li>
    {{ lst2.description }}
</li>
</ul>
<table class="table table-bordered">
    {% for list in lst3 %}
        <thead>
            <tr>
            <th>Author: {{list.user.get_full_name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ list.comment }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {% if user.is_authenticated %}
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Post</button>
        </form>
    {% endif %}
{% endblock %}