{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/800x300" alt="">

                <div class="caption-full">
                    <h2><a href="#">{{ lst2.title }}</a>
                    </h2>
                    <br>
                    <h4><strong>Description</strong></h4>
                    <p>     {{ lst2.description }}</p>
                </div>
            </div>
            <h3>Comments:</h3>
            {% if lst3 == null %}
            <table class="table table-bordered">
                    {% for list in lst3 %}
                        <thead>
                        <tr>
                            <th>Author: {{ list.user.get_full_name }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ list.comment }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
            </table>
        {% endif %}
            {% if user.is_authenticated %}
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Post</button>
                </form>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}