{% extends "app/base.html" %}
{% load staticfiles %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
    <div class="banner"></div>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                {% for list in games %}
                    {% if list.is_active == True and forloop.counter|divisibleby:2 %}
                        <div class="col-md-7">
                            </a> {% for i in image %}
                            {% if i.game_id.pk == list.pk %}
                                <a href="#">
                                    <img class="img-responsive" src="/static/images/{{ i.thumbnail }}" alt="">
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <div class="col-md-5">
                            <h3>{{ list.title }}</h3>
                            <h4>
                                <small>{{ list.platform }}</small>
                            </h4>

                            <p>{{ list.description|slice:":250" }}...</p>
                            <a class="btn btn-primary" href="{% url "gamepage" pk=list.pk %}">View Game <span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        </div>
                        <!-- /.row -->

                        <hr>
                    {% elif list.is_active == True %}
                        <div class="col-md-5">
                            <h3>{{ list.title }}</h3>
                            <h4>
                                <small>{{ list.platform }}</small>
                            </h4>

                            <p>{{ list.description|slice:":250" }}...</p>
                            <a class="btn btn-primary" href="{% url "gamepage" pk=list.pk %}">View Game <span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>

                        <div class="col-md-7">
                            </a> {% for i in image %}
                            {% if i.game_id.pk == list.pk %}
                                <a href="#">
                                    <img class="img-responsive" src="/static/images/{{ i.thumbnail }}" alt="">
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                        </div>
                        <!-- /.row -->

                        <hr>
                    {% endif %}
                {% endfor %}
    </div>
    </div>
    </div>

{% endblock %}