{% extends "app/base.html" %}

{% block title %}
    GameGarage | Login
{% endblock title %}

{% block content %}
    <div class="login-06">
        <div class="sixth-login">
            <form method="POST" class="six" role="form">
                {% csrf_token %}
                <div class="light-b">
                    <p>Email Address</p>
                    <li>
                        <input type="text" value="" onfocus="this.value='';"
                               onblur="if (this.value == '') {this.value ='';}" name="email"><a class=" icons6 user6"></a>
                    </li>
                </div>
                <div class="dark-o">
                    <p>Password</p>
                    <li>
                        <input type="password" value="" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '';}" name="password"><a class=" icons6 lock6"></a>
                    </li>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock content %}
