{% extends "app/base.html" %}

{% block title %}
    GameGarage | Request
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if req_success == True %}
                <div class="alert alert-success">You have successfully requested a game</div>
            {% endif %}
            <h1 style="padding-top: 50px">Request Game</h1>
            <hr>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="save btn btn-default">Request</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock content %}
