{% extends "app/base.html" %}

{% block content %}
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
            {% if gamename %}
                {% for gamename in gamename %}
                    {% if gamename.is_active == True%}
                        <tr>
                            <td><a href="{% url "gamepage" pk=gamename.pk %}">{{ gamename.title }}</a></td>
                        </tr>
                    {% endif %} 
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}