{% extends "app/base.html" %}

{% block title %}
    GameGarage | Signup
{% endblock title %}

{% block content %}
    <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          <div class="row">
                
            </div>
              <div class="row">
                <center>
                 <div class="col-lg-3"></div>
                  <div class="col-lg-10">
                    <div style="padding-top: 60px" align="left">
                        <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSign Up</h1>
                    </div>
                      <section class="panel">
                          <div class="panel-body">
                              <div class="form"  align="center">
                                  <form method="POST" class="form-horizontal" role="form">
                                {% if signup_success == True %}
                                    <br>
                                    <div class="alert alert-success"><strong>Successfully Signed up.</strong><a href="{% url "app.views.user_login" %}">  Click here to Login</a></div>
                                {% endif %}
                                  {% csrf_token %}

                                  {% if exist %}
                                  <div class="alert alert-warning">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Warning!</strong> {{ exist }}
                                  </div>
                                  {% endif %}
                                      
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">First Name <span class="required">*</span></label>
                                          <div class="col-lg-3">
                                              <input class="form-control" name="fname" type="text" placeholder="First Name" required/>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group ">
                                          <label for="cname" class="control-label col-lg-2">Last Name <span class="required">*</span></label>
                                          <div class="col-lg-3">
                                              <input class="form-control" name="lname" type="text" placeholder="Last Name" required/>
                                          </div>
                                      </div>

                                      <div class="form-group ">
                                          <label for="cemail" class="control-label col-lg-2">Email <span class="required">*</span></label>
                                          <div class="col-lg-5">
                                            <input name="email" type="email" class="form-control" placeholder="Email" id="mail" onkeyup="checkMail(); return false;" required><span id="confirmMail" class="confirmMessage"></span>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group ">
                                          <label class="control-label col-lg-2">Contact Number <span class="required">*</span></label>
                                          <div class="col-lg-3">
                                              <input class="form-control" name="contact_number" type="text" placeholder="Contact Number" data-validation="number" required/>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group ">
                                          <label for="cname" class="control-label col-lg-2">Password <span class="required">*</span></label>
                                          <div class="col-lg-3">
                                              <input name="password" type="password" data-validation="length" class="form-control" placeholder="Password" id="pass1" data-validation-length="6-22" required>
                                          </div>
                                      </div>

                                      <div class="form-group ">
                                          <label for="cname" class="control-label col-lg-2">Re-enter Password <span class="required">*</span></label>
                                          <div class="col-lg-3">
                                              <input name="password" type="password" class="form-control" placeholder="Re-enter Password" id="pass2" onkeyup="checkPass(); return false;" required><span id="confirmMessage" class="confirmMessage"></span>
                                          </div>
                                      </div>
                                                                            
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-primary" type="submit">Register</button>&nbsp&nbsp&nbsp
                                              <a href="http://127.0.0.1:8000/">Cancel Registration</a>
                                          </div>
                                      </div>
                                  </form>
                                  <!--Form validation -->
                                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                                  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
                                  <script> $.validate(); </script>
                                  <script type="text/javascript">
                                    function checkPass(){
                                      var pass1 = document.getElementById('pass1');
                                      var pass2 = document.getElementById('pass2');
                                      var message = document.getElementById('confirmMessage');
                                      var goodColor = "#b6ffc7";
                                      var goodColor_font = "#66cc66"
                                      var badColor = "#ffdada";
                                      var badColor_font = "#ff3f3f";
                                      if(pass1.value == pass2.value){
                                          pass2.style.backgroundColor = goodColor;
                                          message.style.color = goodColor_font;
                                          message.innerHTML = ""
                                          document.getElementById("submit_button").disabled = false;
                                      }
                                      else{
                                          pass2.style.backgroundColor = badColor;
                                          message.style.color = badColor_font;
                                          message.innerHTML = ""
                                          document.getElementById("submit_button").disabled = true;
                                      }
                                    }
                                    function checkMail(){
                                      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                      var mail = document.getElementById('mail');
                                      var message_mail = document.getElementById('confirmMail');
                                      var goodColor = "#b6ffc7";
                                      var goodColor_font = "#66cc66"
                                      var badColor = "#ffdada";
                                      var badColor_font = "#ff3f3f";
                                      if(mail.value.match(mailformat)){
                                        message_mail.innerHTML = ""
                                        mail.style.backgroundColor = goodColor;
                                        message_mail.style.color = goodColor_font;
                                      }  
                                      else{
                                        message_mail.innerHTML = "Please enter a valid email address"
                                        mail.style.backgroundColor = badColor;
                                        message_mail.style.color = badColor_font;
                                      }
                                    }
                                    </script>
                              </div>

                          </div>
                      </section>
                  </div>
                   <div class="col-lg-3"></div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
{% endblock content %}
